ul li{
	list-style: none;
}
.pull-left a:hover{
	text-decoration: none;
	color: #FFFFFF !important;
	background: red !important;
}
a {
	text-decoration: none;
	color: #2D2D2D;
}
.newsNav{
	width: 100%;
	border-bottom: 2px solid #ed0000;
}
.navigation{
	width: 1099px;
	height: 34px;
	/*margin: 0 auto;*/
	display: flex;
	/*justify-content: space-between;*/
	/* align-items: center; */

}
.navigation li{
	width: 100px;
	height: 34px;
	font-size: 20px;
	line-height: 37px;
	text-align: center;
	font-weight: 600;
	cursor: pointer;

}
/* .item a{
	font-weight:600;
	width: 100%;
	display: inline-block;
} */
.active{
	height: 100%;
	background: #ed0000;
	color: #FFFFFF;
}
.active a{
	color: #fff;
}


.information_content{
	background: #ffffff;
	margin: 0 auto;
	width: 1200px;

}
.content{
	width: 1200px;
	margin: 0 auto;
	font-size: 16px;
	color: #333;
}
.hotAttention{
	display: flex;
	justify-content: space-between;
	text-align: left;
}
.hotAttention_img {
	width: 55%;
}
.hotAttention_img img{
	width: 100%;
	height: 100%;
}
.hotAttention_news{
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #999999;
	padding-top: 30px;
}
.hotAttention_title{
	/* width: 170px; */
	text-align: left;

}
.hotAttention_title h3{
	font-size: 22px;
	margin: 20px 0 5px 0;

}
.hotAttention_title p{
	color: #666;
	font-size: 15px;
}
.hotAttention_title div{
	margin-top: -33px;
	width: 170px;
	border: 2px solid #ed1b23;
}
.more{
	margin-top: 10px;
	cursor: pointer;
}
.hotAttention_content{
	color: #333;
	width: 100%;
	text-align: left;
}
.hotAttention_content1{
	color: #333;
	width: 100%;
}
.hotAttention_content2{
	width: 37%;
}
.hotAttention_content span p{
	width: 100%;
	height: 30px;
	border-bottom: 1px dashed #999;
	line-height: 30px;
	font-size: 13px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.view{
	margin-top: -14px;
}
.information_title{
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #999;
	padding-top: 30px;
	margin-top: 20px;
}
.information_img{
	width: 54%;
}
.information_img img{
	width: 100%;
	height: 230px;
}
.index .side-slider {
	height: 205px;
	position: relative;
	z-index: 200;
	overflow: hidden;
	background-color: #ffffff;
}
.clearfix {
	display: flex;
	justify-content: space-between;
}
.hotAttention_img li {
	width: 100%;
	height: 100%;
}