@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
button,article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    line-height: initial;
}

a {
    color: #333;
    text-decoration: none
}
a:hover {
	color: #333 !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul,li {
    list-style: none;
}

button {
    background: transparent;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

strong {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

input,button,textarea,select,optgroup,option {
    -webkit-appearance: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 标题 */
.tltle {
	width: 100%;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	font-weight: 600;
	color: #333333;
	padding-left: 5px;
	border-left: 2px solid #C61616;
	margin: 10px 0px 0px 5px;
}

/* 更多 */
.more {
	width: 90%;
	margin: 18px auto auto auto;
	text-align: right;
	font-size: 12px;
	color: #999999;
	cursor: pointer;
}
.main {
	width: 1200px;
	margin: 16px auto auto auto;
	/* border: 1px solid red; */
}
/* .under {
	margin-left: 15px;
} */
.maintltle {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	border-bottom: 1px solid #EEEEEE;
}
.underline {
	font-size: 20px;
	color: #333333;
	border-bottom: 2px solid #C61616;
}
.underline-vice {
	color: #666666;
	font-size: 12px;
}
.statement {
	font-size: 12px;
	color: #C61616;
}