*{
	margin: 0;
	padding: 0;
}
/* html,body{
	background-color: #191919;
} */
ul{
	list-style: none;
}
#body{
    padding: 20px 0;
}
.demo-title{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	text-indent: .5em;
	pointer-events: none;
}
.line-between{
	width: 100%;
	height: 3px;
	background-color: #7a7a7a;
	margin: 20px 0;
}

/* 以下为轮播图样式 */
.carousel-content{
	width: 100%;
	height: 442px;
	position: relative;
	margin: 60px auto;
}
.carousel{
	width: 50%;
	height: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	margin: 0 auto;
}
.carousel li{
	float: left;
	position: absolute;
	display: none;
	left: 50%;
	transform: translate(-50%);
}
.carousel li,.carousel li img{
	width: 100%;
	height: 100%;
}
.carousel-index{

	/* height: 104px; */
	position: absolute;
    bottom: -50px;
    width: 100%;
    display: flex;
	justify-content: center;
	border-top: 1px solid #ccc;
}
.carousel-index li{
	float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    /* background-color: rgba(0,0,0,0.3); */
    font-size: 12px;
    cursor: pointer;
    margin: 0 3px;
	color: #333;
	margin-top: 20px;
}
.carousel-index li.current-index{
	background-color:#CC0000;
	color: #fff;
}
.carousel-index li:hover{
	background-color: #CC0000;
	color: #fff;
}
.carousel-prev,.carousel-next{
	position: absolute;
	top: 0;
	bottom: 0;
	cursor: pointer;
	margin: auto;
	width: 32px;
	height: 40px;
}
.carousel-prev img,.carousel-next img{
	width: 100%;
	height: 100%;
}
.carousel-prev{
	left: 20%;
}
.carousel-next{
	right: 20%;
}